In [6]:
import Stats_Collector as sc
import numpy as np
import os

In [2]:
dir_path = "/Users/lishuo/Desktop/NYU_Academics/NYU_Spring_2018/Capstone Project/After_First_Presentation/Meeting_04052018"
TICK = "MSFT"
file_name = TICK+"_Signal_Input.xlsx"
input_path = os.path.join(dir_path,file_name)
date_ind = 0
data = sc.read_data("excel",input_path,date_ind)
data.head()

,10dORHV,sma_dn_5_30,sma_up_50_200,ema_dn_12_26,rsi_os_30,rsi_ob_70,lrsi_os_03,tsi_ob,cci_os,cci_ob,wr_os,bband_brkdn,pgo_brkout,pgo_brkdn,dpo_os,dpo_ob
datetime.1,,,,,,,,,,,,,,,,
2010-01-04,15.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,12.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,12.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,12.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,13.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['10dORHV', 'sma_dn_5_30', 'sma_up_50_200', 'ema_dn_12_26', 'rsi_os_30',
       'rsi_ob_70', 'lrsi_os_03', 'tsi_ob', 'cci_os', 'cci_ob', 'wr_os',
       'bband_brkdn', 'pgo_brkout', 'pgo_brkdn', 'dpo_os', 'dpo_ob'],
      dtype='object')

In [4]:
col_list = data.columns[1:]

In [7]:
min_trig = 160
max_trig = 800
data_combo = sc.generate_combo(data,col_list,min_trig,max_trig,"or")
#data_combo222 = generate_and_combo2(data,col_list,min_trig,max_trig,"or")

In [8]:
filename_1 = TICK+"_OR_Combo.csv"
data_combo.to_csv(os.path.join(dir_path,filename_1))
data_combo.shape

(2023, 76)

In [9]:
data_combo.columns

Index(['10dORHV', 'sma_dn_5_30', 'sma_up_50_200', 'ema_dn_12_26', 'rsi_os_30',
       'rsi_ob_70', 'lrsi_os_03', 'tsi_ob', 'cci_os', 'cci_ob', 'wr_os',
       'bband_brkdn', 'pgo_brkout', 'pgo_brkdn', 'dpo_os', 'dpo_ob',
       'sma_dn_5_30_rsi_os_30_OR', 'sma_dn_5_30_rsi_ob_70_OR',
       'sma_dn_5_30_lrsi_os_03_OR', 'sma_dn_5_30_tsi_ob_OR',
       'sma_dn_5_30_cci_os_OR', 'sma_dn_5_30_cci_ob_OR',
       'sma_dn_5_30_wr_os_OR', 'sma_dn_5_30_dpo_os_OR',
       'sma_up_50_200_rsi_os_30_OR', 'sma_up_50_200_rsi_ob_70_OR',
       'sma_up_50_200_lrsi_os_03_OR', 'sma_up_50_200_cci_os_OR',
       'sma_up_50_200_cci_ob_OR', 'sma_up_50_200_wr_os_OR',
       'sma_up_50_200_dpo_os_OR', 'ema_dn_12_26_rsi_os_30_OR',
       'ema_dn_12_26_rsi_ob_70_OR', 'ema_dn_12_26_lrsi_os_03_OR',
       'ema_dn_12_26_tsi_ob_OR', 'ema_dn_12_26_cci_os_OR',
       'ema_dn_12_26_cci_ob_OR', 'ema_dn_12_26_wr_os_OR',
       'ema_dn_12_26_dpo_os_OR', 'rsi_os_30_rsi_ob_70_OR',
       'rsi_os_30_lrsi_os_03_OR', 'rsi_os_30_tsi_ob_OR', 'rsi_os_30_cci_os_OR',
       'rsi_os_30_cci_ob_OR', 'rsi_os_30_wr_os_OR', 'rsi_os_30_bband_brkdn_OR',
       'rsi_os_30_pgo_brkout_OR', 'rsi_os_30_pgo_brkdn_OR',
       'rsi_os_30_dpo_os_OR', 'rsi_ob_70_lrsi_os_03_OR', 'rsi_ob_70_cci_os_OR',
       'rsi_ob_70_cci_ob_OR', 'rsi_ob_70_wr_os_OR', 'rsi_ob_70_bband_brkdn_OR',
       'rsi_ob_70_pgo_brkout_OR', 'rsi_ob_70_pgo_brkdn_OR',
       'lrsi_os_03_cci_os_OR', 'lrsi_os_03_bband_brkdn_OR',
       'lrsi_os_03_pgo_brkout_OR', 'lrsi_os_03_pgo_brkdn_OR',
       'tsi_ob_bband_brkdn_OR', 'tsi_ob_pgo_brkdn_OR', 'cci_os_cci_ob_OR',
       'cci_os_wr_os_OR', 'cci_os_bband_brkdn_OR', 'cci_os_pgo_brkout_OR',
       'cci_os_pgo_brkdn_OR', 'cci_ob_bband_brkdn_OR', 'cci_ob_pgo_brkout_OR',
       'cci_ob_pgo_brkdn_OR', 'wr_os_bband_brkdn_OR', 'wr_os_pgo_brkout_OR',
       'wr_os_pgo_brkdn_OR', 'bband_brkdn_dpo_os_OR', 'pgo_brkout_dpo_os_OR',
       'pgo_brkdn_dpo_os_OR'],
      dtype='object')

In [10]:
day_interval = [5,10,20,30,63,126,252]
signal_list = data_combo.columns[16:]
target_stats = ["mean"]
n_value = [3]
target_day_interval = [5,10,20]
min_chg = 0.15
n_dict = dict(zip(target_stats,n_value))
output_file_name = TICK+"_OR_Stats"
sc.export_summary_table(day_interval,data_combo,signal_list,"10dORHV",dir_path,output_file_name,
                    target_stats,target_day_interval,n_dict,min_chg)

print("Export Finished!")

Export Finished!